@use "../variables/colors" as *;


.form-container {
    max-width: 40rem;
    margin: 0 auto;
    background-color: #f2ead3;
    border-radius: 1rem;
    padding: 1rem 2rem 3rem;
}

fieldset {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px dotted $c-letter;
    border-radius: 0.3rem;
}
 
input, select {
    width: 100%;
    margin-top: 0.3rem;
}

input {
    border-radius: 0.3rem;
    padding: 1ch;
}

label {
    display: block;
    margin-top: 0.6rem;
}

label:not(:last-of-type) {
    margin-right: 1ch;
}

.inline-container {
    display: flex;
    flex-flow: row wrap;
    * {
        flex: 1 0 15rem;
    };
}

input[type="submit"] {
   
   cursor: pointer;
   transition: 0.2s ease-out;
   &:hover {
        transform: scaleX(1.03) scaleY(1.1); 
   }; 
   &:active {
    background-color: #dfd1a7;
   }
}